<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="org.limepepper.chefclipse.remotepicker.ui">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="org.limepepper.chefclipse.remotepicker.ui"
            class="org.limepepper.chefclipse.remotepicker.ui.wizards.SampleNewWizard"
            id="org.limepepper.chefclipse.remotepicker.ui.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
	  <category
            name="Remote Picker Command Category"
            id="org.limepepper.chefclipse.remotepicker.ui.commands.category">
      </category>
      <command
            name="Remote Picker Command"
            categoryId="org.limepepper.chefclipse.remotepicker.ui.commands.category"
            id="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook"
            class="org.limepepper.chefclipse.remotepicker.ui.handlers.RemotePickerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:file?after=additions">
           		<command
	              	commandId="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook"
	              	mnemonic="S"
	              	label="Cookbooks Remote Picker"
	              	icon="icons/sample.gif">
            	</command>
      </menuContribution>
   </extension>

</plugin>
