<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
	  <category
            name="Remote Picker Command Category"
            id="org.limepepper.chefclipse.remotepicker.ui.commands.category">
      </category>
      <command
            name="Remote Picker Command"
            categoryId="org.limepepper.chefclipse.remotepicker.ui.commands.category"
            id="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook"
            class="org.limepepper.chefclipse.remotepicker.ui.handlers.RemotePickerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:help?after=additions">
           		<command
	              	commandId="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook"
	              	mnemonic="S"
	              	label="Cookbooks Remote Picker"
	              	icon="icons/opscode_16.png">
            	</command>
      	</menuContribution>
      	<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                label="Open Remote Picker Wizard"
                commandId="org.limepepper.chefclipse.remotepicker.ui.commands.pickcookbook"
                icon="icons/opscode_16.png">
               	<visibleWhen>
			   		<iterate operator="and" ifEmpty="false">
			      			<adapt type="org.eclipse.core.resources.IProject">
			      			<or>
			                	<test property="org.eclipse.core.resources.projectNature" 
			           	   			value="org.limepepper.chefclipse.common.ui.resources.ChefProjectNature"/>
			               	</or>
			      			</adapt>
			   		</iterate>
        		</visibleWhen>
            </command>
        </menuContribution>
   </extension>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.limepepper.chefclipse.preferences.ui.preferences.chefclipsePreferencePage"
            class="org.limepepper.chefclipse.remotepicker.ui.preferences.RemotePickerPreferencePage"
            id="org.limepepper.chefclipse.remotepicker.ui.remotePickerPreferencePage"
            name="Cookbooks Remote Picker">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.limepepper.chefclipse.remotepicker.ui.preferences.RemotePickerPreferencesInitializer"/>
   </extension>

</plugin>
