<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="org.limepepper.chefclipse.releng.perspectives.RelEngPerspective"
            id="org.limepepper.chefclipse.releng.perspectives.RelEngPerspective">
      </perspective>
   </extension>

</plugin>
