<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Chefclipse XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.limepepper.chefclipse.cookbook.editors.ChefclipseXMLEditor"
            id="org.limepepper.chefclipse.cookbook.editors.ChefclipseXMLEditor">
      </editor>
      <editor
            name="Chefclipse Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="org.limepepper.chefclipse.cookbook.editors.ChefclipseMultiPageEditorContributor"
            class="org.limepepper.chefclipse.cookbook.editors.ChefclipseMultiPageEditor"
            id="org.limepepper.chefclipse.cookbook.editors.ChefclipseMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Chefclipse Page"
            nameFilter="*.*"
            class="org.limepepper.chefclipse.cookbook.editors.properties.ChefclipsePropertyPage"
            id="org.limepepper.chefclipse.cookbook.editors.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
