<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Juno 4.2 Platform" sequenceNumber="47">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.git.feature.group" version="1.0.2.v20120916-1200"/>
<unit id="org.eclipse.dltk.core.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.dltk.ruby.feature.group" version="4.0.0.201206120848"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.jackson.feature.feature.group" version="1.9.5.201204111326"/>
<repository location="http://ghillairet.github.com/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="jsonedit-feature.feature.group" version="0.9.5"/>
<repository location="http://limepepper.github.com/Json-Eclipse-Plugin/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.zest.sdk.feature.group" version="2.0.0.201208101920"/>
<repository location="https://hudson.eclipse.org/hudson/job/gef-zest-integration/lastSuccessfulBuild/artifact/targetPlatform/"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dsun.awt.disablegrab=true -Dosgi.requiredJavaVersion=1.5 -Dhelp.lucene.tokenizer=standard -XX:MaxPermSize=512m -Xms96m -Xmx1524m</vmArgs>
</launcherArgs>
</target>
