<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.limepepper.chefclipse.navigator.providers.ChefProjectContentProvider"
            id="org.limepepper.chefclipse.navigator.ChefProjectNavigator"
            labelProvider="org.limepepper.chefclipse.navigator.providers.ChefProjectLabelProvider"
            name="Chef Project Navigator"
            priority="higher"
            providesSaveables="false">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.limepepper.chefclipse.common.ui.resources.ChefProjectNature">
               </test>
            </and></triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.limepepper.chefclipse.navigator.providers.ChefCookbookContentProvider"
            id="org.limepepper.chefclipse.navigator.ChefCookbookNavigator"
            labelProvider="org.limepepper.chefclipse.navigator.providers.ChefCookbookLabelProvider"
            name="Chef Cookbook Navigator"
            priority="higher">
         <triggerPoints>
            <instanceof
                  value="org.limepepper.chefclipse.common.cookbook.Cookbook">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.ChefProjectNavigator">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.ChefCookbookNavigator">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.limepepper.chefclipse.navigator.testers.ChefResourcesPropertyTester"
            id="org.limepepper.chefclipse.navigator.ChefResourcesPropertyTester"
            namespace="org.limepepper.chefclipse.navigator"
            properties="isWorkstationFolder"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>

</plugin>
