<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.limepepper.rcp.templateproject.ui"
            name="Template Project">
      </category>
      <wizard
            category="org.limepepper.rcp.templateproject.ui"
            class="org.limepepper.rcp.templateproject.ui.wizards.NewProjectWizard"
            icon="icons/sample.gif"
            id="org.limepepper.rcp.templateproject.ui.wizards.NewProjectWizard"
            name="New Template Project"
            project="true">
      </wizard>
      <wizard
            category="org.limepepper.rcp.templateproject.ui"
            class="org.limepepper.rcp.templateproject.ui.wizards.NewModuleWizard"
            icon="icons/sample.gif"
            id="org.limepepper.rcp.templateproject.ui.wizards.NewModuleWizard"
            name="New Template Module">
      </wizard>
   </extension>

</plugin>
