<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.limepepper.rcp.templateproject.ui"
            name="Sample Wizards">
      </category>
      <wizard
            category="org.limepepper.rcp.templateproject.ui"
            class="org.limepepper.rcp.templateproject.ui.wizards.SampleNewWizard"
            icon="icons/sample.gif"
            id="org.limepepper.rcp.templateproject.ui.wizards.SampleNewWizard"
            name="Multi-page Editor file">
      </wizard>
   </extension>

</plugin>
