<configuration debug="true">
	<appender name="UDP"
		class="org.limepepper.chefclipse.logger.appender.UDPAppender">
		<remoteHost>localhost</remoteHost>
		<port>9876</port>
		<!-- <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder"> -->
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
			<appendLineSeparator>true</appendLineSeparator>
			<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
				<!-- <prettyPrint>true</prettyPrint> -->
			</jsonFormatter>
		</layout>
		<!-- </encoder> -->
	</appender>
	<appender name="ECLIPSE"
		class="ch.qos.logback.contrib.eclipse.EclipseLogAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<bundleName>org.limepepper.chefclipse.logger</bundleName>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="ECLIPSE" />
		<appender-ref ref="UDP" />
	</root>
</configuration>