<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="org.limepepper.chefclipse.chefserver.api.ui.preferences.SamplePreferencePage"
            id="org.limepepper.chefclipse.chefserver.api.ui.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.limepepper.chefclipse.chefserver.api.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.limepepper.chefclipse.chefserver.api.ui.handler.ApiUiHandler"
            commandId="org.limepepper.chefclipse.api.ui.popupContext">
      </handler>
   </extension>
   
      <extension
         point="org.eclipse.ui.menus">

   <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu label="Chefclipse Menu"
               mnemonic="C"
               id="org.limepepper.chefclipse.menus.contextgroup">
         <dynamic
               class="org.limepepper.chefclipse.chefserver.api.ui.handler.ContributionItemDynamic"
               id="org.limepepper.chefclipse.api.ui.dynamic">
        <visibleWhen checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </dynamic>
         </menu>
      </menuContribution>
   </extension>
   

<!-- =================================================================================== -->
<!-- This is the command contribution declarations for dynamic menu item etc    -->
<!-- lars vogel tutorials on advanced commmands features -->
<!-- http://www.vogella.com/articles/EclipseCommandsAdvanced/article.html -->
<!-- =================================================================================== -->


  <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.limepepper.chefclipse.commands.category"
          name="Chefclipse Commands Category">
    </category>
    <command
          categoryId="org.limepepper.chefclipse.commands.category"
          id="org.limepepper.chefclipse.api.ui.popupContext"
          name="Dynamic Command Label Placeholder">
       <commandParameter
             id="commandParameter1"
             name="parameter to select dynamic handler"
             optional="false">
       </commandParameter>
    </command>
 </extension>


</plugin>
