<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.limepepper.chefclipse.application.dynamic.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.limepepper.chefclipse.application.dynamic.intro.Perspective"
            id="org.limepepper.chefclipse.application.dynamic.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.limepepper.chefclipse.application.dynamic.application"
            name="ChefClipse Dynamic Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="ChefClipse Dynamic Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.limepepper.chefclipse.application.dynamic.intro">
      </intro>
      <introProductBinding
            introId="org.limepepper.chefclipse.application.dynamic.intro"
            productId="org.limepepper.chefclipse.application.dynamic.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.limepepper.chefclipse.application.dynamic.intro"
            content="introContent.xml"
            id="org.limepepper.chefclipse.application.dynamic.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="org.limepepper.chefclipse.application.dynamic.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.limepepper.chefclipse.application.dynamic.splashHandlers.BrowserSplashHandler"
            id="org.limepepper.chefclipse.application.dynamic.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="org.limepepper.chefclipse.application.dynamic.splashHandlers.ExtensibleSplashHandler"
            id="org.limepepper.chefclipse.application.dynamic.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="org.limepepper.chefclipse.application.dynamic.splashHandlers.InteractiveSplashHandler"
            id="org.limepepper.chefclipse.application.dynamic.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="org.limepepper.chefclipse.application.dynamic.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="com.example.test"
            name="My Common Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.example.test"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.limepepper.chefclipse.application.dynamic"
            name="Sample Wizards">
      </category>
      <wizard
            category="org.limepepper.chefclipse.application.dynamic"
            class="org.limepepper.chefclipse.application.dynamic.wizards.SampleNewWizard"
            icon="icons/sample.gif"
            id="org.limepepper.chefclipse.application.dynamic.wizards.SampleNewWizard"
            name="Multi-page Editor file">
      </wizard>
   </extension>

</plugin>
