<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.limepepper.chefclipse.common.ui.resources.ChefProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.limepepper.chefclipse.common.ui.resources.ChefProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
