<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.limepepper.chefclipse.preferences.ui.preferences.chefclipsePreferencePage"
            class="org.limepepper.chefclipse.logger.ui.preferences.LoggerPreferencePage"
            id="org.limepepper.chefclipse.logger.ui.preferences.LoggerPreferencePage"
            name="Logging">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.limepepper.chefclipse.logger.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
