<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.limepepper.chefclipse.graphviewer">
      </category>
      <view
            name="Graph View"
            icon="icons/sample.gif"
            category="org.limepepper.chefclipse.graphviewer"
            class="org.limepepper.chefclipse.graphviewer.views.GraphView"
            id="org.limepepper.chefclipse.graphviewer.views.GraphView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.limepepper.chefclipse.contribution1">
         <action
               label="Open Graph Viewer"
               class="org.limepepper.chefclipse.graphviewer.actions.OpenGraphViewerAction"
               enablesFor="1"
               id="org.limepepper.chefclipse.graphviewer.actions.OpenGraphViewerAction">
         </action>
      </objectContribution>
   </extension>
</plugin>
