<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.limepepper.rcp.templateproject.app"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.limepepper.rcp.templateproject.app.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.limepepper.rcp.templateproject.app"
            name="Template Project Product">
         <property
               name="appName"
               value="Template Project Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.limepepper.rcp.templateproject.app.TemplatePerspectiveFactory"
            id="org.limepepper.rcp.templateproject.product.perspective"
            name="Template Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>

</plugin>
