<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chefclipse -->
      <package
            uri="http://limepepper.org/v1/chefclipse/chefserver"
            class="org.limepepper.chefclipse.common.chefserver.ChefserverPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated chefclipse -->
      <parser
            type="chefserver"
            class="org.limepepper.chefclipse.common.chefserver.util.ChefserverResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chefclipse -->
      <package
            uri="http://limepepper.org/v1/chefclipse/chefclient"
            class="org.limepepper.chefclipse.common.chefclient.ChefclientPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated chefclipse -->
      <parser
            type="chefclient"
            class="org.limepepper.chefclipse.common.chefclient.util.ChefclientResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chefclipse -->
      <package
            uri="http://limepepper.org/v1/chefclipse/cookbook"
            class="org.limepepper.chefclipse.common.cookbook.CookbookPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated chefclipse -->
      <parser
            contentTypeIdentifier="org.limepepper.chefclipse.content-types.cookbook"
            class="org.limepepper.chefclipse.common.cookbook.util.CookbookResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated chefclipse -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="cookbook"
            id="org.limepepper.chefclipse.content-types.cookbook"
            name="%_UI_Cookbook_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://limepepper.org/v1/chefclipse/cookbook"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.limepepper.chefclipse.common.workstation.WorkstationPackage"
            uri="http://limepepper.org/chefclipse/workstation">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated chefclipse -->
      <parser
            type="workstation"
            class="org.limepepper.chefclipse.common.workstation.util.WorkstationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chefclipse -->
      <package
            uri="http://limepepper.org/v1/chefclipse/knife"
            class="org.limepepper.chefclipse.common.knife.KnifePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated chefclipse -->
      <parser
            type="knife"
            class="org.limepepper.chefclipse.common.knife.util.KnifeResourceFactoryImpl"/>
   </extension>


</plugin>
