<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.limepepper.rcp.chefclipse.common.resources.ChefProjectNature"
         name="Chef Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.limepepper.chefclipse.common.resources.ChefProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.limepepper.chefclipse.model.workstation.WorkstationPackage"
            uri="http://limepepper.org/chefclipse/workstation">
      </package>
   </extension>

</plugin>
