<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.limepepper.chefclipse.common.workstation.WorkstationPackage"
            uri="http://limepepper.org/chefclipse/workstation">
      </package>
   </extension>

</plugin>
