<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Ruby Action Set"
            visible="true"
            id="RubyConsole.actionSet">
         <menu
               label="Ruby Console"
               id="rubyConsole">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;New Ruby Console"
               icon="icons/sample.gif"
               class="rubyconsole.actions.NewRubyConsole"
               tooltip="Hello, Eclipse world"
               menubarPath="rubyConsole/sampleGroup"
               toolbarPath="sampleGroup"
               id="rubyconsole.actions.NewRubyConsole">
         </action>
         <action
               class="rubyconsole.actions.Redgregregrg"
               id="org.limepepper.eclipse.RubyConsole.action1"
               label="labelfwefewf"
               menubarPath="rubyConsole/sampleGroup"
               style="push"
               toolbarPath="sampleGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.limepepper.eclipse.RubyConsole"
            name="ChefClips Category">
      </category>
      <view
            category="org.limepepper.eclipse.RubyConsole"
            class="org.limepepper.eclipse.rubyconsole.views.ConsoleClipsView"
            icon="icons/sample.gif"
            id="org.limepepper.eclipse.rubyconsole.views.ConsoleClipsView"
            name="ConsoleClips">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.limepepper.eclipse.rubyconsole.views.ConsoleClipsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
