<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.limepepper.chefclipse.ui"
            name="Template Project">
      </category>
      <wizard
            category="org.limepepper.chefclipse.ui"
            class="org.limepepper.chefclipse.ui.wizards.NewProjectWizard"
            icon="icons/sample.gif"
            id="org.limepepper.chefclipse.ui.wizards.NewProjectWizard"
            name="New Template Project"
            project="true">
      </wizard>
      <wizard
            category="org.limepepper.chefclipse.ui"
            class="org.limepepper.chefclipse.ui.wizards.NewModuleWizard"
            icon="icons/sample.gif"
            id="org.limepepper.chefclipse.ui.wizards.NewModuleWizard"
            name="New Template Module">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.limepepper.chefclipse.ui.perspective.TemplatePerspectiveFactory"
            id="org.limepepper.chefclipse.ui.TemplatePerspective"
            name="Template">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.limepepper.chefclipse.ui.TemplatePerspective">
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.limepepper.chefclipse.ui.preferences.chefclipsePreferencePage"
            id="org.limepepper.chefclipse.ui.preferences.chefclipsePreferencePage"
            name="Template Project Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.limepepper.chefclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
   </extension>

</plugin>
