<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.views.ResourceNavigator">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.jdt.ui.PackageExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.limepepper.chefclipse.navigator.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>



  <!--  the main navigator content for the model  -->

  <!--  the main navigator content for the model  -->

  <!--  the main navigator content for the model  -->



   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.limepepper.chefclipse.navigator.providers.TestTreeContentProvider"
            id="org.limepepper.chefclipse.navigator.navigatorContent2"
            labelProvider="org.limepepper.chefclipse.navigator.providers.TestTreeLabelProvider"
            name="Chef Navigator"
            priority="high"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="ecore"/>
        </and>
               <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="workstation"/>
        </and>
            </or>
         </triggerPoints>
         <possibleChildren>
          <or>
        <instanceof value="org.eclipse.core.resources.IResource"/>
        <instanceof value="org.limepepper.chefclipse.NamedObject"/>
    </or>
         </possibleChildren>
      </navigatorContent>
   </extension>



  <!--  the main navigator content  -->

  <!--  the main navigator content  -->

  <!--  the main navigator content  -->

    <extension
            point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="org.limepepper.chefclipse.ui.chefContent" />
            </includes>
        </viewerContentBinding>
    </extension>

    <extension
            point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
                activeByDefault="true"
                contentProvider="org.limepepper.chefclipse.ui.navigator.ChefNavigatorContentProvider"
                icon="icons/packagefolder_obj.png"
                id="org.limepepper.chefclipse.ui.chefContent"
                labelProvider="org.limepepper.chefclipse.ui.navigator.ChefNavigatorLabelProvider"
                name="%commonNavigatorContentName"
                priority="high">
            <triggerPoints>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject" >
                        <test property="org.eclipse.core.resources.projectNature"
                        value="org.limepepper.chefclipse.ChefProjectNature"/>
                    </adapt>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.limepepper.chefclipse.model.ChefResource" />
                    <instanceof value="org.limepepper.chefclipse.common.chefserver.DataBag"/>
                    <instanceof value="org.limepepper.chefclipse.common.chefserver.DataBagItem"/>
                </or>
            </triggerPoints>
            <possibleChildren>
                <or>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.limepepper.chefclipse.model.ChefResource" />
                    <instanceof value="org.limepepper.chefclipse.common.chefserver.DataBag"/>
                    <instanceof value="org.limepepper.chefclipse.common.chefserver.DataBagItem"/>
                </or>
            </possibleChildren>
            <override
                  policy="InvokeAlwaysRegardlessOfSuppressedExt"
                  suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
            </override>
            <!--commonWizard
                  menuGroupId="org.eclipse.jdt.ui.java"
                  type="new"
                  wizardId="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
                <enablement>
                    <or>
                        <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
                        </adapt>
                    </or>
                </enablement>
            </commonWizard-->
            <!--dropAssistant
                class="org.eclipse.jdt.internal.ui.navigator.JavaDropAdapterAssistant"
                id="org.eclipse.jdt.ui.dropAssistant">
                <possibleDropTargets>
                    <or>
                        <instanceof value="org.eclipse.core.resources.IResource"/>
                        <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                    </or>
                </possibleDropTargets>
            </dropAssistant-->
          	<actionProvider
                 class="org.limepepper.chefclipse.databag.editor.actions.DataBagActionProvider">
          	</actionProvider>
        </navigatorContent>
        <!--commonFilter
                activeByDefault="false"
                class="org.eclipse.jdt.internal.ui.navigator.NonEssentialEmptyPackageFilter"
                name="%HideEmptyPackages.label"
                description="%HideEmptyPackages.description"
                id="org.eclipse.jdt.java.ui.filters.HideEmptyPackages"/-->
   </extension>







   <!--extension
         point="org.eclipse.emf.common.ui.examples">

   </extension-->





   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.limepepper.chefclipse.category"
            class="org.limepepper.chefclipse.navigator.NewExampleChefProjectWizard"
            hasPages="true"
            id="wChefProjectWizard"
            name="Example Chef Project"
            project="true">
      </wizard>
      <category
            id="org.limepepper.chefclipse.category"
            name="Chef Wizards"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>

</plugin>
